/* Google Font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
/*root color*/
:root{
    --main-bg-color: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
    --second-bg-color: #adb5bZ;
    --main-text-color: rgb(19, 18, 18);
    --second-text-color:rgb(1, 253, 56);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 5;
  margin-bottom: 5;
  color: #111111;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

label,h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

tr td {
  font-size: 12px;
}

th{
    font-size: 14px;
    text-align: center;
}

p {
  font-size: 15px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #3d3d3d;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0;
}



/*color set*/
.menu a{
    color: #2F3A8F;
}

.primary-text{
    color: var(--main-text-color);
}

.second-text{
    color: var(--second-text-color);
}

.primary-bg{
    background-color: var(--main-bg-color);
}

.secondary-bg{
    background-color: var(--second-bg-color);
}


.rounded-full{
    border-radius: 100%;
}


/* main content */

#wrapper {
    overflow: -x hidden;
    /* background: linear-gradient(
        to right,
        #baf3d7,
        #c2f5de,
        #cbf7e4,
        #d4f8ea,
        #ddfaef
    ); */
    /*background: var(--main-bg-color));*/
}

.body-content{

}

/navbar customize*/
.navbar-brand{
  color: white!important;
}
.nav-bg{
  background-color: #001253;

}
.nav-item a{
  color: white!important;
}
.dropdown-menu{
  background-color: #001253!important;
}

.dropdown-menu a:hover{
  color: #001253!important;
}

.top-bar{
    background: var(--main-bg-color);
    color: var(--main-text-color);
}


#sidebar-wrapper{
    background: #EFEFEF;
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading{
    padding: 0.875rem 1.25rem;
    font-size:1.2rem;
}

#sidebar-wrapper .list-group{
    width: 15rem;
}

#page-content-wrapper{
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper{
    margin-left: 100;
}

#menu-toggle{
    cursor: pointer;
    color: #ffffff;
}

.list-group-item{
    border: none;
    padding: 20px 30px;
}

.list-group-item.active{
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}


/*menu and sub menu */
.menu{
    list-style: none;
}

.menu-bg a:hover{
    background-color: var(--second-bg-color)!important;
    border-radius: 5px;
}

.menu-bg ul li a:hover {
    background: var(--second-bg-color)!important;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    color: #00c8ff;
}

.navigation li ul{
    display: none;
    list-style: none;
    position: relative;
    top: 0px;
    padding: 10px;
}


@media (min-width: 768px){
    #sidebar-wrapper{
        margin-left: 0;
    }

    #page-content-wrapper{
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper{
        margin-left: -15rem;
    }
}

.sub-menu-show-admin.show{
    display: block;
    list-style: none;
    position: relative;
    top:0px;
    width: 250px;
    left:10px;
    bottom:15px;
    padding: 10px 10px 10px 10px;
}

.sub-menu-show.show{
    display: block;
    list-style: none;
    position: relative;
    top:0px;
    width: 250px;
    left:10px;
    bottom:15px;
    padding: 10px 10px 10px 10px;
}

.sub-menu-doc-show.show{
    display: block;
    list-style: none;
    position: relative;
    top:0px;
    width: 250px;
    left:10px;
    bottom:15px;
    padding: 10px 10px 10px 10px;
}

.sub-menu-employee.show{
    display: block;
    list-style: none;
    position: relative;
    top:0px;
    width: 250px;
    left:10px;
    bottom:15px;
    padding: 10px 10px 10px 10px;
}

.sub-menu-pathology.show{
    display: block;
    list-style: none;
    position: relative;
    top:0px;
    width: 250px;
    left:10px;
    bottom:15px;
    padding: 10px 10px 10px 10px;
}

.sub-menu-pharmacy.show{
    display: block;
    list-style: none;
    position: relative;
    top:0px;
    width: 250px;
    left:10px;
    bottom:15px;
    padding: 10px 10px 10px 10px;
}

.sub-menu-show-admin li:hover a span{
    color: var(--blue1);
    font-size: 18px;
}

.sub-menu-show li:hover a span{
    color: var(--blue1);
    font-size: 18px;
}

.sub-menu-doc-show li:hover a span{
    color: var(--blue1);
    font-size: 18px;
}

.sub-menu-employee li:hover a span{
    color: var(--blue1);
    font-size: 18px;
}

.sub-menu-pharmacy li:hover a span{
    color: var(--blue1);
    font-size: 18px;
}

.sub-menu-pathology li:hover a span{
    color: var(--blue1);
    font-size: 18px;
}

/*===Accounts===*/
.card-link{
    text-decoration: none;
    color: #fff;
}

.card-link:hover{
    overflow: hidden;
    color: #003300;
}

.medicines{
    position: relative;
    display: inline-block;
    margin-right: 40px;
}

.increment-decrement-field{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dashboard css */
.grid-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 6px;
}

.heading-info {
    display: none;
}

@media only screen and (max-width:688px) {
    .grid-item {
        grid-template-columns: repeat(1, 1fr);
    }

    .heading-item {
        display: none;
    }

    .heading-info {
        font-size: small;
        display: inline;
    }
}

@media only screen and (min-width:689px) and (max-width:991px) {
    .grid-item {
        grid-template-columns: repeat(1, 1fr);
    }

    .heading-item {
        display: none;
    }

    .heading-info {
        font-size: small;
        display: inline;
    }
}

/* Dashboard Style */
.heading-info {
    display: none;
}

.card-body-elements {
    overflow-y: scroll;
}

@media only screen and (max-width:688px) {

    .heading-item {
        display: none;
    }

    .heading-info {
        font-size: small;
        display: inline;
    }
}

@media only screen and (min-width:689px) and (max-width:991px) {

    .heading-item {
        display: none;
    }

    .heading-info {
        font-size: small;
        display: inline;
    }
}




/**------------------paragraph-----------------------**/

p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #111111;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}

/*-------------------- table----------------------- */

table {
  border: 0px;
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: rgb(255, 255, 255);
  text-align: left;
  overflow: scroll;
  scroll-behavior: smooth;

  }

  thead{
    box-shadow: 0 5px 10px #aeafb3;
    text-align: center;
    margin-left: 100%;
    margin-right: 100%;
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #2962ff;
  }

  .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
  }
    .status-pending {
        background-color: #fff0c2;
        color: #a68b00;
    }

   .status-paid {
      background-color: #c8e6c9;
      color: #388e3c;
    }

    .status-unpaid {
      background-color: #ffcdd2;
      color: #c62828;
    }

    .amount {
        text-align: right;
      }

      tr:nth-child(even) {
        background-color: #f4f6fb;
      }
/*--------------------Input field--------------------------------*/

input{
  width: 10rem;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 15px;
  transition: width 0.3s ease-in-out;
}

.table-input{
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px;
  transition: width 0.3s ease-in-out;
}

.search{
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px;
  transition: width 0.3s ease-in-out;
}


.table-input:focus {
  width: 10rem;
  font-size: 10px;
  border: 1px #001253!important;
}
input:focus {
  font-size: 10px;
  border: 1px #001253!important;
}


/**-----buttons----**/

.btn-primary{
   background-color: #001253!important;
}

.button div{
  width: auto;
  height: 40px;
  border-radius: 5px;
  background-color: #ffff;
  padding: 20px;
  box-shadow: 0 5px 10px #e1e5ee;
}

.button-success {
  /* width: 5%; */
  background-color: #001253;
  color: #16C79A;
  padding: 5px 10px;
  margin: 1px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.button-success:hover{
  background-color: #001253;
  color: #fff;
}

.button .button-warning{
  /* width: 5%; */
  background-color: #faf194;
  color: #a68b00;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.button .button-warning:hover{
  background-color:#FFFF00;
  color: #4b431c;
}

.button .button-danger{

  /* width: 5%; */
  background-color: #ffcdd2;;
  color: #b9182e;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

}

.button .button-danger:hover{
  background-color:#eb6d9d;
  color: #fff;
}


.button .button-edit{
  background-color: #EFDCF9;
  color: #603F8B;
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button .button-edit:hover{
  background-color:#A16AE8;
  color: #dfb5fa;
}


.button .button-view{

  background-color: #98D7C2;
  color: #167D7F;
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button .button-view:hover{
  background-color:#29A0B1;
  color: #B4FEE7;
}

.button .button-print{

  background-color: #3AB4F2;
  color: #13005A;
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button .button-print:hover{
  background-color:#29A0B1;
  color: #B4FEE7;
}

.button .button-delete{

  background-color: #ffc8d2;
  color: #FF5765;
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button .button-delete:hover{
  background-color:#FD49A0;
  color: #ffc8d2;
}




/*Customize sections*/

.header{
    background: hotpink;
    color: aliceblue;
}

.container{
  background-color: #FAFBFE;
}

.blog{
    background: aqua;

}

.search-section{
  margin-bottom: 20px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.accounts-data{
    background: #001253;
    color: #ffffff;
    width: 17rem !important;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align:center;
    padding : 2px;
    border-radius : 5px;
}

.accounts-data p,h5{
    color: white;
    text-transform: uppercase;
}

.accounts-data:hover {
  background: #D61355;
}